.jTerm {
    &--header {
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.2;
        padding-top: 10px;
    }

    &--headline {
        font-size: 26px;
        margin-bottom: 10px;
    }

    &--description {
        font-size: 18px;
        color: var(--jaguar-text-gray);
    }

    &--icon {
        margin-bottom: 10px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}

.archive--item {
    padding: 15px 0;
    border-bottom: 1px solid var(--jaguar-border-color-light);
    display: flex;
}

.archive--title__year {
    font-size: 22px;
    color: var(--jaguar-text-gray);
}

.archive--title {
    font-size: 18px;
    flex: 1 1 auto;

    a {
        &:hover {
            color: var(--jaguar-hover-color);
        }
    }
}

.archive--meta {
    font-size: 14px;
    color: var(--jaguar-text-gray);
    flex: 0 0 auto;
}
