.jArticle {
    &--headline {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.3;

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }
    }

    &--header {
        margin-bottom: 20px;
    }

    &--meta {
        font-size: 14px;
        line-height: 1.4;
        color: var(--jaguar-text-gray-lightest);
        padding-top: 5px;
        display: flex;
        align-items: center;

        .flag {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        a {
            &:hover {
                color: var(--jaguar-text-color);
                text-decoration: underline;
            }
        }
    }

    &--toc {
        summary {
            margin-bottom: 3px;
            cursor: pointer;
        }

        font-size: 14px;
        @include jaguar-border;
        padding: 10px 15px;
        border-radius: var(--jaguar-border-radius);
        margin-bottom: 15px;
        li {
            margin-bottom: 0;
            line-height: 1.4;

            &::before {
                width: 42px;
                margin-left: -42px;
                padding-right: 8px;
            }

            a {
                text-decoration: none;
                &:hover {
                    color: var(--jaguar-main-color);
                }
            }
        }

        ul {
            padding-left: 5px;
            margin-bottom: 0;
        }
    }

    &--action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .button--like {
            svg {
                fill: var(--jaguar-text-gray);
            }

            &:hover,
            &.is-active {
                svg {
                    fill: var(--jaguar-hover-color);
                }
            }
        }
    }

    &--tags {
        padding: 15px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            padding: 5px 15px;
            @include jaguar-border;
            color: var(--jaguar-text-gray);
            border-radius: 10px;
            margin-right: 12px;
            line-height: 1.5;
            font-size: 14px;
        }
    }
}

@mixin u-centered {
    margin-left: auto;
    margin-right: auto;
}

@mixin layoutSingleColumn {
    @include u-centered;
    max-width: 710px;
    width: 93%;
}

.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &.is-active {
        svg {
            fill: var(--jaguar-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--block {
        display: none;
    }

    .count {
        font-size: 12px;
        color: var(--jaguar-text-gray);
        margin-top: 3px;
    }
}
