.jArticle {
    &--headline {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.3;
    }

    &--header {
        margin-bottom: 20px;
    }

    &--meta {
        font-size: 14px;
        line-height: 1.4;
        color: var(--jaguar-text-gray-lightest);
        padding-top: 5px;
        display: flex;
        align-items: center;

        .flag {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        a {
            &:hover {
                color: var(--jaguar-text-color);
                text-decoration: underline;
            }
        }
    }

    &--toc {
        summary {
            margin-bottom: 3px;
            cursor: pointer;
        }

        font-size: 14px;
        background-color: var(--jaguar-background-gray-light);
        box-shadow: 0 0 1px #88a7e1;
        border: 1px solid var(--jaguar-background-white);
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 15px;
        li {
            margin-bottom: 0;
            line-height: 1.4;

            &::before {
                width: 42px;
                margin-left: -42px;
                padding-right: 8px;
            }

            a {
                text-decoration: none;
                &:hover {
                    color: var(--jaguar-main-color);
                }
            }
        }

        ul {
            padding-left: 5px;
            margin-bottom: 0;
        }
    }

    &--action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .button--like {
            svg {
                fill: var(--jaguar-text-gray);
            }

            &:hover,
            &.is-active {
                svg {
                    fill: var(--jaguar-hover-color);
                }
            }
        }
    }

    &--tags {
        padding: 15px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            padding: 5px 15px;
            border-color: var(--jaguar-border-color);
            background-color: var(--jaguar-background-gray-light);
            box-shadow: 0 0 1px #88a7e1;
            color: var(--jaguar-text-gray);
            border-radius: 10px;
            margin-right: 12px;
            line-height: 1.5;
            font-size: 14px;
        }
    }
}

@mixin u-centered {
    margin-left: auto;
    margin-right: auto;
}

@mixin layoutSingleColumn {
    @include u-centered;
    max-width: 710px;
    width: 93%;
}

.author--title {
    font-size: 18px;
    line-height: 1.2;
    color: var(--jaguar-text-gray);
}

.author--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    .avatar {
        border-radius: 100%;
        margin-bottom: 5px;
        box-shadow: 0 0 1px #88a7e1;
        padding: 2px;
        background-color: var(--jaguar-background-gray-light);
        border: 1px solid var(--jaguar-background-white);
    }

    .authorCard--description {
        text-align: center;
        color: var(--jaguar-text-gray);
        font-size: 14px;
    }
}

.archive--item {
    padding: 15px 0;
    border-bottom: 1px solid var(--jaguar-border-color-light);
    display: flex;
}

.archive--title__year {
    font-size: 22px;
    color: var(--jaguar-text-gray);
}

.archive--title {
    font-size: 18px;
    flex: 1 1 auto;

    a {
        &:hover {
            color: var(--jaguar-hover-color);
        }
    }
}

.archive--meta {
    font-size: 14px;
    color: var(--jaguar-text-gray);
    flex: 0 0 auto;
}

.poppyCategory--card {
    width: 220px;
    background-color: var(--jaguar-background-gray);
    border-radius: var(--jaguar-border-radius);
    padding: 5px;

    img {
        border-radius: var(--jaguar-border-radius-small);
        height: 120px;
        width: 100%;
        object-fit: cover;
    }

    &__list {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    &__content {
        text-align: center;
        padding-bottom: 8px;
    }

    &__title {
        font-size: 16px;
        color: var(--jaguar-text-gray);
        margin-bottom: 0;

        &:hover {
            color: var(--jaguar-main-color);
        }
    }

    &__description {
        font-size: 12px;
        color: var(--jaguar-text-gray-light);
        margin-bottom: 0;
        line-height: 1.5;
    }
}

.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &.is-active {
        svg {
            fill: var(--jaguar-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--block {
        display: none;
    }
}

.translatedCard {
    margin-bottom: 20px;
    font-size: 14px;
    h4 {
        font-weight: 700;
    }

    ul {
        list-style: square;
        margin-left: 30px;
        li a {
            text-decoration: underline;
            &::hover {
                color: var(--jaguar-hover-color);
            }
        }
    }
}

.grap--mixtapeEmbed {
    display: flex;
    align-items: center;
    background-color: var(--jaguar-background-gray-light);
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0 rgba(136, 167, 225, 10%);
    border: 1px solid var(--jaguar-background-white);

    .mixtapeImage {
        width: 120px;
        height: 120px;
        background-size: cover;
        flex: 0 0 auto;
        border-radius: 0 5px 5px 0;

        @media screen and (max-width: 768px) {
            width: 80px;
            height: 80px;
        }
    }

    .mixtapeContent {
        flex: 1 1 auto;
        padding: 0 20px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }

        &:hover {
            color: inherit;
        }
    }

    .markup--strong {
        font-size: 16px;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    .markup--em {
        font-style: normal;
        color: var(--jaguar-text-gray);
        line-height: 1.5;
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
