.jTerm {
    &--header {
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.2;
        padding-top: 10px;
    }

    &--headline {
        font-size: 26px;
        margin-bottom: 10px;
    }

    &--description {
        font-size: 18px;
        color: var(--jaguar-text-gray);
    }

    &--icon {
        margin-bottom: 10px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}
