.jTerm {
    &--header {
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.2;
        padding-top: 10px;
    }

    &--headline {
        font-size: 26px;
        margin-bottom: 10px;

        @media (max-width: 600px) {
            font-size: 20px;
        }
    }

    &--description {
        font-size: 18px;
        color: var(--jaguar-text-gray);

        @media (max-width: 600px) {
            font-size: 14px;
        }
    }

    &--icon {
        margin-bottom: 10px;

        img {
            width: 100px;
            height: 100px;
            border-radius: var(--jaguar-border-radius);
            object-fit: cover;

            @media (max-width: 600px) {
                height: 64px;
                width: 64px;
            }
        }
    }
}
