.jBlock {
    --jaguar-block-image-height: 200px;
    --jaguar-post-grid-columns: 3;

    &--list {
        padding-top: 30px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(var(--jaguar-post-grid-columns, 3), 1fr);
        gap: 15px;
    }

    &--item {
        position: relative;
        background-color: var(--jaguar-background-gray);
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0px 0px 1px 0 rgba(136, 167, 225, 10%);
        border: 1px solid var(--jaguar-background-white);
    }

    &--content {
        padding: 2px 8px 5px;
    }

    &--excerpt {
        font-size: 13px;
        color: var(--jaguar-text-gray);
        line-height: 1.5;
        height: 4.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 3px;
        margin-top: 5px;
    }

    &--image {
        width: 100%;
        height: var(--jaguar-block-image-height, 200px);
        object-fit: cover;
        border-radius: 10px;

        &Link {
            position: relative;
            display: flex;
            margin-bottom: 8px;

            .flag {
                width: 24px;
                height: 24px;
                position: absolute;
                right: 10px;
                top: 10px;
                border: 1px solid var(--jaguar-background-gray);
                border-radius: 100%;
                box-shadow: 0px 0px 1px 0 rgba(136, 167, 225, 10%);
            }

            &::before {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 80%;
                left: -6px;
                background-color: var(--jaguar-background-gray);
                border-radius: 100%;
            }

            &::after {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 80%;
                right: -6px;
                background-color: var(--jaguar-background-gray);
                border-radius: 100%;
            }
        }
    }

    &--title {
        font-size: 18px;
        line-height: 1.3;

        &:hover {
            color: var(--jaguar-main-color);
        }

        & + .jBlock--info {
            margin-top: 5px;
        }
    }

    &--info {
        font-size: var(--jaguar-meta-font-size, 12px);
        color: var(--jaguar-text-gray-lightest);
        line-height: 1.5;
        display: flex;
        align-items: center;

        a {
            &:hover {
                color: var(--jaguar-text-color);
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 600px) {
    .jBlock--list {
        grid-template-columns: repeat(1, 1fr);
    }
}
