.jComment {
    &--area {
        padding-top: 30px;
    }

    &--heroTitle {
        font-size: 18px;
        color: var(--jaguar-text-gray-lightest);
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        svg {
            fill: var(--jaguar-text-gray-lightest);
            margin-right: 8px;
        }
    }

    &--list {
        padding-bottom: 30px;
        border-top: 1px solid var(--jaguar-border-color-light);
    }

    &--item {
        &.depth-1:not(:only-child) {
            &:last-child {
                & > .jComment--body {
                    border-bottom: none;
                }
            }
        }
    }

    &--body {
        padding: 25px 10px;
        position: relative;
        border-bottom: 1px solid var(--jaguar-border-color-light);
    }

    &--meta {
        display: flex;
        align-items: center;
        font-size: 14px;

        .avatar {
            border-radius: 100%;
            margin-right: 10px;
            box-shadow: 0 0 0 2px var(--jaguar-border-color-light);
        }
    }

    &--author {
        display: flex;
        align-items: center;
        color: var(--jaguar-main-color);
        flex: 0 0 auto;

        .url {
            display: flex;
            align-items: center;
        }
    }

    &--time {
        font-size: 12px;
        color: var(--jaguar-text-gray);
    }

    &--content {
        font-size: 14px;
        color: var(--jaguar-text-gray);
        padding: 10px 10px 0;

        p {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.comment-reply-title {
    font-size: 18px;
    color: var(--jaguar-text-gray-lightest);
    margin-bottom: 20px;
    display: flex;
    align-content: center;

    small {
        font-size: 14px;
        color: var(--jaguar-text-gray);
        margin-left: auto;
    }
}

.depth-1 > .children {
    margin-left: 50px;

    .jComment--meta {
        .avatar {
            width: 30px;
            height: 30px;
        }
    }
}

.comment-reply-link {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
        fill: var(--jaguar-text-gray-lightest);
    }

    &:hover {
        svg {
            fill: var(--jaguar-main-color);
        }
    }
}

.no--comment {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--jaguar-text-gray-lightest);

    svg {
        fill: var(--jaguar-text-gray-lightest);
        margin-right: 8px;
    }
}

.comment--parent__link {
    color: var(--jaguar-main-color);
    margin-right: 4px;
    display: inline-flex;
    align-items: center;
}

.friend--icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
