.jFooter {
    padding: 30px 0;
    color: var(--jaguar-text-gray-lightest);
    text-align: center;
    font-size: 14px;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    &--icons {
        margin-bottom: 10px;
        @include sns-icons;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

@keyframes toTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.backToTop {
    .svgIcon {
        width: 17px;
        height: 17px;
        fill: var(--jaguar-main-color);
        animation: toTop 1s ease-in infinite alternate;
    }

    &:hover {
        .svgIcon {
            fill: var(--jaguar-hover-color);
            animation-play-state: paused;
        }
    }

    position: fixed;
    bottom: 25px;
    right: -25px;
    cursor: pointer;

    &.is-active {
        right: 25px;
    }

    z-index: 10;
    transition: all 0.3s ease;
}

.fixed--theme {
    display: flex;
    justify-content: center;
    padding: 10px 0 0;

    span {
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--jaguar-text-gray-lightest);

        &:hover {
            color: var(--jaguar-text-color);
        }

        &.is-active {
            color: var(--jaguar-text-color);
            @include jaguar-border;
        }

        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}
