.site-footer {
    padding: 30px 0;
    color: var(--jaguar-text-gray-lightest);

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

@keyframes toTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.backToTop {
    .svgIcon {
        width: 17px;
        height: 17px;
        fill: var(--jaguar-main-color);
        animation: toTop 1s ease-in infinite alternate;
    }

    &:hover {
        .svgIcon {
            fill: var(--jaguar-hover-color);
            animation-play-state: paused;
        }
    }

    position: fixed;
    bottom: 25px;
    right: -25px;
    cursor: pointer;

    &.is-active {
        right: 25px;
    }

    z-index: 10;
    transition: all 0.3s ease;
}
